body {
	background-image: url(../images/background.jpg);
	background-repeat:no-repeat;
   	background-size:cover;
}

.jumbotron {
	background-color: rgba(0,0,0,0);
	color: white;
	font: bold 'Share Tech Mono', monospace;
}

#time-left, #status, h4, h3 {
	color: white;
	text-align: center;
	font: bold 'Share Tech Mono', monospace;
}

#start, #submit {
	background-color: rgb(50, 205, 50);
	padding: 10px;
	font: bold 40px 'Share Tech Mono', monospace;
}

#questionBox, #question {
	color: white;
	padding: 20px;
	text-align: center;
	font: bold 20px 'Share Tech Mono', monospace;
}